.friend-btn {
    padding: 6px 16px;
    border-radius: 6px;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    border: none;
}

#btn-follow {
    background-color: #7abeeb;
    color: white;
}
#btn-follow:hover {
    background-color: blue
}

#btn-pending {
    background-color: #efefef;
    color: #8e8e8e;
    border: 1px solid #dbdbdb;
    cursor: default;
}

#btn-remove {
    background-color: #d65555;
    color: white;
    border: 1px solid #dbdbdb;
}
#btn-remove:hover {
    background-color: #fff0f1;
    color: red;
    border-color: #ed4956;
}