.register-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url('../assets/start-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.register-page h2 {
    color: white;
    font-size: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.fields input {
    background-color: gainsboro;
    width: 250px;
    height: 60px;
    border-radius: 20px;
    font-size: 18px;
    color: darkolivegreen;
    padding: 0 30px;
}


.upload-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:white;
    align-items: center;
    font-size: 20px;
    border: 2px;
    background-color: gainsboro;
    width: 250px;
    height: 60px;
    border-radius: 20px;
    font-size: 18px;
    color: blue;
    padding: 0 30px;
}
.upload-wrapper {
    margin: 0px auto;
}

.upload-picture {
    font-size: 18px;
    color: brown;
}

.file-name {
    text-align: center;
    margin-top: 10px;
    color: green;
    font-size: 16px;
    opacity: 0.8;
}


.upload-picture::file-selector-button {
    height: 60px;
    padding: 0 30px;
    border-radius: 20px;
    background-color: green;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.upload-picture::file-selector-button:hover {
    background-color: rgb(109, 191, 109);
}


.instruction{
    color:white;
    font-size: 25px;
    display: flex;
    padding: 0 30px;
    padding-top: 20px;
    justify-content: center;
}
.register-page input:focus {
    background-color: rgb(69, 69, 69);
    color: white;
    outline: none;
}

.fields {
    padding: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.register-buttons {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
    gap: 100px;
}

.register-buttons button {
    height: 80px;
    width: 180px;
    border-radius: 60px;
    background-color: green;
    font-size: 20px;
    color: white;
    font-weight: 1000;
    transition: transform 0.3s, text-shadow 0.3s;
}

.register-buttons button:hover {
    text-shadow: 0px 5px 5px black;
    transform: translateY(-10px);
    background-color: rgb(109, 191, 109);
    cursor: pointer;
}

.register-buttons button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.upload-label button{
    width: 150px;
    height: 25px;
    border-radius: 20px;
    background-color: darkgrey;
}

.upload-label button:hover{
    background-color: rgb(69, 69, 69);
    color: white;
    cursor: pointer;
}


.registration-success{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.registration-success .message{
    color: black;
    font-size: 20px;
    color: darkgreen;
    text-shadow: 2px 2px 2px rgb(171, 167, 167);
}
.registration-success .login-btn button{
    font-size: 15px;
    color: white;
    background-color: rgb(50, 89, 50);
    border-radius: 20px;
    width: 100px;
    height: 30px;
}
.registration-success .login-btn button:hover{
    color: rgb(18, 58, 18);
    background-color: rgb(136, 174, 136);
    cursor: pointer;
}



@media (max-width: 1000px) {
    .fields {
        flex-direction: column;
        align-items: center;
        gap: 25px;
        padding: 40px;
    }

    .register-page h2 {
        font-size: 50px;
        padding-top: 40px;
    }

    .register-page input {
        width: 90%;
        max-width: 300px;
    }
}
