* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    color: white
}
.start-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url('../assets/start-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.start-buttons {
    padding-top: 100px;
    display: flex;
    justify-content: space-around;
}
.logo {
    display: flex;
    justify-content: center;
    font-size: 100px;
    padding-top: 100px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.start-page .container{
    display: flex;
    flex-direction: column;
}
.intro{
    padding: 0 40px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 20px;
    text-shadow: 0px 5px 5px black;
}
.start-buttons button {
    height: 80px;
    width: 150px;
    border-radius: 60px;
    background-color: green;
    font-size: 20px;
    color: white;
    font-weight: 1000;
    transition: transform 0.3s, text-shadow 0.3s;
}
.start-buttons button:hover {
    text-shadow: 0px 5px 5px black;
    transform: translateY(-10px);
    transition: 0.3s;
    background-color: rgb(109, 191, 109);
}

@media (max-width: 800px) {
    .logo{
        font-size: 60px;
    }
}
